### Portfolio assignment 8
15 min: 
- Calculate the 90%, 95%, 99% and 99.99% confidence interval for at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4. Do you see the impact the confidence has on the interval?
- Now calculate the 95% confidence interval again but use only the first 10% of your rows. Compare this interval to the previous 95% confidence interval you calculated. Do you see the impact of having less data?

In [3]:
import seaborn as sns

In [6]:
import pandas as pd

In [7]:
import scipy.stats as st

In [8]:
formula1 = pd.read_csv('formula1.csv', sep=',')
formula1.head()

,Unnamed: 0,name,country,team,races,years_in_f1,championships,gp_wins,podiums,poles,dnfs,fav_circuit,avg_yearly_salary
0,0,Frank Daniels,United States,Mercedes,67,4,5,56,29,62,16,Albert Park,16
1,1,Pierangelo Franceschi,Italy,Aston Martin,218,10,3,75,43,55,9,Circuit Zandvoort,17
2,2,Frederick Gamble,United States,Ferrari,167,8,3,56,52,72,11,Imola,14
3,3,Tristan Rousseau-Grondin,France,AlphaTauri,251,12,4,68,37,70,16,Circuit of The Americas,14
4,4,Horacio Alemany,Spain,Aston Martin,185,9,1,73,37,66,11,Jeddah Corniche Circuit,14

In [11]:
confidence1 = 0.90
confidence2 = 0.95
confidence3 = 0.99
confidence4 = 0.9999

In [12]:
st.t.interval(confidence1, len(formula1)-1, loc=formula1['gp_wins'].mean(), scale=st.sem(formula1['championships']))

(65.10332024397309, 65.25401308936026)

In [13]:
st.t.interval(confidence2, len(formula1)-1, loc=formula1['gp_wins'].mean(), scale=st.sem(formula1['championships']))

(65.08885177639348, 65.26848155693986)

In [14]:
st.t.interval(confidence3, len(formula1)-1, loc=formula1['gp_wins'].mean(), scale=st.sem(formula1['championships']))

(65.06051959517623, 65.29681373815711)

In [15]:
st.t.interval(confidence4, len(formula1)-1, loc=formula1['gp_wins'].mean(), scale=st.sem(formula1['championships']))

(64.99970598002676, 65.35762735330658)

In [20]:
per = 10
formula110 = formula1.head(int(len(formula1)*(per/100)))

In [21]:
st.t.interval(confidence2, len(formula110)-1, loc=formula110['gp_wins'].mean(), scale=st.sem(formula110['championships']))

(64.74386963852689, 65.33613036147312)